.logoss__container {
  background-color: var(--color-primary);
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.empresa__info {
    
}

.empresa__img {
  margin-top: 2.5rem;
  margin-bottom: -1.5rem;
}

.logoss__container h2 {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #333333;
}

.logoss__container2 {
  padding-left: 5rem;
  padding-bottom: 5.4rem;
  font-family: Montserrat, bold;
}

.video__intro {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  display: flex;
  justify-content: center;
}
